<!DOCTYPE html>
<html>
<head th:replace="~{base::head}"></head>
<body>
<div th:replace="~{base::logo}"></div>
	<div class="container">
		<div>
<div th:replace="~{base::titulo('Novo pedido')}"></div>
			<div class="card mt-3">
				<form th:object="${novoPedidoDto}" th:action="@{/pedido/novo}"
					class="card-body" method="POST">

					<div class="form-group">
						<label for="nomeProduto"> Produto </label> <input
							th:field="*{nomeProduto}" th:errorclass="is-invalid"
							class="form-control" placeholder="Nome do produto" /> <small>Informe
							qual o nome do produto.</small>
						<div class="invalid-feedback" th:errors="*{nomeProduto}">Erros
							do campo nome do produto</div>

					</div>

					<div class="form-group">
						<label for="urlProduto"> URL </label> <input class="form-control"
							th:field="*{urlProduto}" th:errorclass="is-invalid"
							placeholder="URL do produto" /> <small>Procure em um
							site o produto que você deseja e cole a URL da página aqui.</small>
						<div class="invalid-feedback" th:errors="*{urlProduto}">Erros
							do campo URL do produto</div>
					</div>

					<div class="form-group">
						<label for="urlImagemProduto"> Imagem </label> <input
							class="form-control" th:field="*{urlImagemProduto}"
							th:errorclass="is-invalid" placeholder="URL da imagem" /> <small>Copie
							a URL de uma boa imagem do produto e cole aqui para ajudar a
							conseguir compradores.</small>
						<div class="invalid-feedback" th:errors="*{urlImagemProduto}">Erros
							do campo URL da imagem do produto</div>
					</div>

					<div class="form-group">
						<label for="descricao"> Descrição</label>
						<textarea class="form-control" th:field="*{descricao}"
							th:errorclass="is-invalid"
							placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>
						<div class="invalid-feedback" th:errors="*{descricao}">Erros
							do campo descrição do produto</div>
					</div>
					<button class="btn btn-primary" type="submit">Cadastrar</button>
			</div>
			</form>
		</div>
	</div>
</body>
</html>